* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 16px;
    color: grey;
}

.max-container {
    position: relative;
    min-width: 600px;
    background-color: tomato;
    height: 915px;
}

header {
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    height: calc(100% - 9vh);
    width: 3rem;
}

main {
    background-color: chartreuse;
    width: calc(100% - 3rem);
    margin-left: 3rem;
    position: relative;
    overflow-y: scroll;
}

.banner {
    background-color: aquamarine;
    position: fixed;
    top: 0;
    left: 3rem;
    right: 0;
    height: 9vh;
    z-index: 3;
}

footer {
    display: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: blueviolet;
    width: 100%;
    height: 9vh;
}

/* UTILITY CLASSES */

