* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 16px;
    color: grey;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

h1 {
    font-size: 25px;
    color: white;
    margin: 2rem 0 1rem;
}

h2 {
    color: white;
    font-size: 15px;
    line-height: 1.1;
    margin: 1rem 0 .5rem;
}

h3 {
    font-size: 11px;
    font-weight: 500;
}

/* UTILITY CLASSES */
.max-container {
    position: relative;
    min-width: 600px;
    height: 900px;
}

.padding1 {
    padding: 1.5rem;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: calc(100% - 9vh);
    width: 3rem;
}

header .row {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 60%;
}

header .row a {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: .5rem 0;
}

header .row a[href$="!"] img{
    width: 80%;
}

header .row.up a[href$="!"] img {
    filter: brightness(.8);
}

header .row.down a:first-child img {
    width: 1rem;
    filter: brightness(.8);
}

header .row.down a:last-child img {
    background-color: grey;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 100%;
}

header a:hover {
    /* aggiungi hover */
}

/* MAIN */
main {
    background-color: #141922;
    width: calc(100% - 3rem);
    margin-left: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 9vh);
    overflow-y: scroll;
    font-size: 11px;
    font-weight: 600;

}

/* banner */
.banner {
    background-color: #080B12;
    opacity: .8;
    position: fixed;
    top: 0;
    left: 3rem;
    right: 0;
    height: 5rem;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.banner a {
    background-color: transparent;
    padding: .5rem 2rem;
    border: 1px solid white;
    border-radius: 4em;
    margin-right: 1rem;
    text-transform: uppercase;
}

/* main-navbar */
.main-navbar {
    margin: 4.5rem 0 0;
    text-transform: uppercase;
}

.main-navbar ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-navbar li {
    margin-bottom: 2rem;
    padding: 0 .8rem;
}

.main-navbar li a {
    color: grey;
    padding: .2rem 0;
}

.main-navbar hr {
    width: calc(100% / 3);
    height: 2px;
    color: #95ec23;
    margin: 0 auto;
}

/* music-section */
.music-sec {
    display: flex;
    flex-flow: row wrap;
    column-gap: .7rem;
    row-gap: .5rem;
}

.music-sec h1 {
    flex: 2 1 100%;
}

.music-sec h3 {
    color: grey;
}

.cover {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    flex: 1 1 calc((100% - 3rem - .7rem) / 2);
}

.cover img {
    width: 100%;
}

.spec_h1 {
    margin-bottom: 0;
}

.spec_h3 {
    flex: 2 1 100%;
    margin-bottom: 1rem;
}

.artists-sec img {
    border-radius: 50%;
}

/* FOOTER */
footer {
    background-color: blueviolet;
    width: 100%;
    height: 5.5rem;
}
